<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav>
    <h2>🏦 Smart Lender</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<div class="container">

<h1>Loan Approval Prediction</h1>

<form action="/result" method="POST">

<label>No. of Dependents</label>
<input type="number" name="dependents" required>

<label>Education</label>
<select name="education">
    <option>Graduate</option>
    <option>Not Graduate</option>
</select>

<label>Self Employed</label>
<select name="self_employed">
    <option>No</option>
    <option>Yes</option>
</select>

<label>Annual Income</label>
<input type="number" name="income_annum" required>

<label>Loan Amount</label>
<input type="number" name="loan_amount" required>

<label>Loan Term</label>
<input type="number" name="loan_term" required>

<label>CIBIL Score</label>
<input type="number" name="cibil_score" required>

<label>Residential Assets</label>
<input type="number" name="residential_assets_value" required>

<label>Commercial Assets</label>
<input type="number" name="commercial_assets_value" required>

<label>Luxury Assets</label>
<input type="number" name="luxury_assets_value" required>

<label>Bank Assets</label>
<input type="number" name="bank_asset_value" required>

<button type="submit">Predict Loan Status</button>

</form>

</div>

<footer>
Smart Lender © 2026 | Flask + XGBoost + Python
</footer>

</body>
</html>